<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="wrapper">
        <form action="/result" method="POST">
            <div class="form-group">
                <label for="fname">First Name: (required)</label>
                <input type="text" name="fname" class="form-control" value="{{session['name']}}">
            </div>
            <div class="form-group">
                <label for="lname">Last Name: (required)</label>
                <input type="text" name="lname" class="form-control" value="{{session['name']}}">
            </div>
            <div class="form-group">
                <label for="email">Email: (required)</label>
                <input type="text" name="email" class="form-control" value="{{session['name']}}">
            </div>
            <div class="form-group">
                <label for="password">Password: (required)</label>
                <input type="text" name="password" class="form-control" value="{{session['name']}}">
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password: (required)</label>
                <input type="text" name="cpassword" class="form-control" value="{{session['name']}}">
            </div>
        </form>
    </div>
</body>
</html>